.product-card {
    flex: 0 0 25%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-right: solid 0.25px gray;
    border-bottom: solid 0.25px gray;;
}

.product-image {
    height: 80%;
    display: flex;
    justify-content: center;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

.product-info{
    height: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
}

.product-title{
    flex: 0 0 50%;
    display: flex;
    align-items: flex-end;
}

.product-title h6{
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

.product-price{
    flex: 0 0 50%;
    display: flex;
    align-items: flex-start;
    color: black;
    font-size: 0.9rem;
}