.button-card {
    flex: 0 0 25%;
    height: 50vh;
    display: flex;
    border-right: solid 0.25px gray;
    border-bottom: solid 0.25px gray;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-card button{
    background-color: black;
    width: 50%;
    height: 10%;
    color: white;
    border-radius: 15px;
}